<head>
  <%= stylesheet_link_tag 'portfolio/tech', 'data-turbo-track': 'reload' %>
</head>

<div class='icon-section flex flex-col'>
  <p class='icon-section-title self-center'> Languages </p>
  <div class='flex flex-col'>
    <div class='flex flex-row self-center' style='margin-bottom: -1.5rem;'>
      <a href='https://www.python.org' target='_blank'><%= image_tag('python.png', class: 'icon', alt: 'Python') %></a>
    </div>
    <div class='flex flex-row self-center'>
      <a style='margin-right: 3rem;' href='https://isocpp.org/' target='_blank'><%= image_tag('cplusplus.png', class: 'icon', alt: 'C++') %></a>
      <a href='https://www.ruby-lang.org/en/' target='_blank'><%= image_tag('ruby.png', class: 'icon', alt: 'Ruby') %></a>
    </div>
    <div class='flex flex-row self-center'>
      <a style='margin-right: 3rem;' href='https://www.postgresql.org/' target='_blank'><%= image_tag('postgres.png', class: 'icon', alt: 'PostgreSQL') %></a>
      <a href='https://docs.microsoft.com/en-us/dotnet/csharp/' target='_blank'><%= image_tag('csharp.png', class: 'icon', alt: 'Csharp') %></a>
    </div>
    <div class='flex flex-row self-center' style='margin-top: -1.5rem;'>
      <a href='https://www.java.com/en/' target='_blank'><%= image_tag('java.png', class: 'icon', alt: 'Java') %></a>
    </div>
  </div>
</div>
