<head>
  <%= stylesheet_link_tag 'portfolio/tech', 'data-turbo-track': 'reload' %>
</head>

<div class='section-clear tech-section p-0'>
  <div class='section-title-clear flex justify-center'>
    <p class='section-title-clear-label'> My Tech Stack</p>
  </div>
  <div class='hidden md:flex flex-wrap justify-evenly mt-4'>
    <%= render(Tech::LanguagesComponent.new) %>
    <%= render(Tech::TestingComponent.new) %>
    <%= render(Tech::InfrastructureComponent.new) %>
    <%#= render(Tech::TrackingComponent.new) %>
    <%#= render(Tech::WebComponent.new) %>
  </div>
  <div class='flex flex-col md:hidden mt-4'>
    <%= render(Tech::LanguagesMobileComponent.new) %>
    <%= render(Tech::TestingMobileComponent.new) %>
    <%= render(Tech::InfrastructureMobileComponent.new) %>
    <%#= render(Tech::TrackingMobileComponent.new) %>
    <%#= render(Tech::WebMobileComponent.new) %>
  </div>
</div>
